.btn-cart{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: unset;
    
}
.btnRemove{
    border-radius: 10px;
    background-color: green;
    color: white;
    border: unset;
    
    
}

.allRemove{
    border-radius: 10px;
    background-color: green;
    color: white;
    border: unset;
    

}