<footer class="footer bg-main-light py-4">
    <div class="container">
        <h2 class="text-capitalize">Get The FreshCart App</h2>
        <p class="text-muted">We Well Send You a Link</p>
        <div class="inputs d-flex gap-3 ">
            <input type="email" placeholder="Email.." class="form-control w-75">
            <button class="text-capitalize main-btn px-4">share App link</button>
        </div>
        <hr>
        <p class="lead text-center">&copy; 2024 <a href="https://www.linkedin.com/" target="_blank" class=" text-decoration-none fst-italic border-bottom bo text-main">Hazem Fady</a>  All Rights Reserved</p>
    </div>
</footer>