<!-- forgetPassword -->
<section *ngIf="step1" class="formRegister w-75 mx-auto my-5 py-2 px-3 bg-main-light rounded-2 shadow">
    <h4 class="fw-bold text-capitalize text-center">forget Password</h4>
    <form [formGroup]="forgetPassword" (ngSubmit)="forgetPasswordOld()">
        <!-- email -->
        <div class="email">
            <label for="email">Email :</label>
            <input type="email" class="form-control my-2" placeholder="Enter Your Email.." id="email" #email
                formControlName="email">
            <!-- Error Email -->
            <div class=" alert alert-danger"
                *ngIf="forgetPassword.get('email')?.errors&&(forgetPassword.get('email')?.touched||email.value.length>0)">
                <p *ngIf="forgetPassword.get('email')?.getError('required')" class="text-capitalize">Email is required
                </p>
                <p *ngIf="forgetPassword.get('email')?.getError('email')" class="text-capitalize">Email must be form
                    example123@gmail/yahoo.com</p>

            </div>

        </div>
        <button class="text-capitalize main-btn mt-3 mb-2 d-block mx-auto px-3  py-2">forget password</button>

    </form>
</section>

<!-- reset code -->
<section *ngIf="step2" class="resetCode w-75 mx-auto my-5 py-2 px-3 bg-main-light rounded-2 shadow">
    <h4 class="fw-bold text-capitalize text-center">Reset code </h4>
    <form [formGroup]="ResetCode" (ngSubmit)="resetCodePassword()">
        <!-- resetCode -->
        <div class="resetCode">
            <label for="resetCode">ResetCode :</label>
            <input type="text" class="form-control my-2" placeholder="Enter Your ResetCode.." id="resetCode" #resetCode
                formControlName="resetCode">
            <!-- Error resetCode -->
            <div class=" alert alert-danger"*ngIf="ResetCode.get('resetCode')?.errors &&(ResetCode.get('resetCode')?.touched||resetCode.value.length>0)">
                <p *ngIf="ResetCode.get('resetCode')?.getError('required')" class="text-capitalize">ResetCode is required
                </p>
            

            </div>

        </div>
        <button class="main-btn mt-3 mb-2 d-block mx-auto px-3  py-2 text-capitalize">reset code</button>


    </form>
</section>


<!-- New Password -->
<section *ngIf="step3" class="newPassword w-75 mx-auto my-5 py-2 px-3 bg-main-light rounded-2 shadow">
    <h4 class="fw-bold text-capitalize text-center">Confirm new password </h4>
    <form [formGroup]="NewPassword" (ngSubmit)="newPasswordReset()">
        <!-- New Password -->
        <div class="new-Password">
            <label for="newPassword">New Password :</label>
            <input type="password" class="form-control my-2" placeholder="Enter Your New Password.." id="newPassword" #newPassword
                formControlName="newPassword">
            <!-- Error newPassword -->
            <div class=" alert alert-danger"*ngIf="NewPassword.get('newPassword')?.errors &&(NewPassword.get('newPassword')?.touched||newPassword.value.length>0)">
                <p *ngIf="NewPassword.get('newPassword')?.getError('required')" class="text-capitalize">New Password is required
                </p>
            

            </div>

        </div>
        <button class="main-btn mt-3 mb-2 d-block mx-auto px-3  py-2 text-capitalize">Confirm password</button>


    </form>
</section>