<section class="formRegister w-75 mx-auto my-5 py-2 px-3 bg-main-light rounded-2 shadow">
    <h1 class="fw-bold text-capitalize text-center">update password</h1>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="handleFormUpdate()">
        <!-- password -->
        <div class="currentPassword form-items">
            <label for="currentPassword">Current Password :</label>
            <input #currentPassword formControlName="currentPassword" type="password" class="form-control"
                id="currentPassword">
            <!-- Name Error -->
            <div *ngIf="updatePasswordForm.get('currentPassword')?.errors &&(updatePasswordForm.get('currentPassword')?.touched ||currentPassword.value.length>0) "
                class="alert alert-danger w-50 mx-auto mt-2 rounded-3 text-center">
                <p class="text-capitalize" *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')">
                    CurrentPassword is required</p>


            </div>

        </div>

        <!-- {
                "currentPassword":"123456",
                "password":"pass1234",
                "rePassword":"pass1234"
            } -->

        <!--  Password -->
        <div class="newPassword form-items">
            <label for="newPassword">New Password :</label>
            <input #newPassword formControlName="password" type="password" class="form-control" id="newPassword">

            <!-- Password Error -->
            <div *ngIf="updatePasswordForm.get('password')?.errors &&(updatePasswordForm.get('password')?.touched ||newPassword.value.length>0) "
                class="alert alert-danger w-50 mx-auto mt-2 rounded-3 text-center">
                <p class="text-capitalize" *ngIf="updatePasswordForm.get('password')?.getError('required')">Password is
                    required</p>
            </div>
        </div>

        <!-- re Password -->
        <div class="rePassword form-items">
            <label for="rePassword">rePassword :</label>
            <input #rePassword formControlName="rePassword" type="password" class="form-control" id="rePassword">

            <!-- Password Error -->
            <div *ngIf="updatePasswordForm.get('rePassword')?.errors &&(updatePasswordForm.get('rePassword')?.touched ||rePassword.value.length>0) "
                class="alert alert-danger w-50 mx-auto mt-2 rounded-3 text-center">
                <p class="text-capitalize" *ngIf="updatePasswordForm.get('rePassword')?.getError('required')">Password
                    is required</p>
                <p class="text-capitalize" *ngIf="updatePasswordForm.get('rePassword')?.getError('mismatch')">rePassword
                    must be equal password value</p>



            </div>
        </div>


        <button [disabled]="updatePasswordForm.invalid" class="main-btn px-3 py-2 d-block mx-auto my-3"><i
                *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin text-white me-2"></i>Update</button>




    </form>





</section>